{% comment %} {% load compress %} {% load static %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" /> {% endcomment %}
    {% comment %} {% endcompress %} {% endcomment %}
    <title>Kai's Inventory Management</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <div>
                    <ul>
                        <li>
                            <a href={% url 'inventory_list' %}>Home</a>
                        </li>
                        <li>
                            <p>FirstName LastName</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock content %}
</body>
</html>
